{% extends "base.html" %}
{% block title %}Chat Select{% endblock %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'index.css' %}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Chat Room</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat:logout' %}">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="back-container">
        <div class="container-fluid front-container">
            <div class="back-top"></div>
            <div class="back-main"></div>
        </div>
        <div class="container front-container1">
            <div class="row chat-top">
                <div class="col-sm-4 border-right border-secondary">
                    <img src="{% static 'dp.png' %}" alt="" class="profile-image rounded-circle">
                    <span class="ml-2">{{request.user.get_full_name | capfirst}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 contacts">
                    <div class="contact-table-scroll">
                        <table class="table table-hover">
                            <tbody>
                                <br>
                                <tr>                                    
                                    <form method="post" id="serach_form">
                                        {% csrf_token %}
                                        <input type="search" placeholder="Search..."  id="user_search" onkeyup="loadusers(this.id)" required autofocus>
                                        <button type="submit" id="search">Search</button>
                                        <input type='hidden' class="form-control" id='user_val' name='user_val'>
                                    </form>
                                </tr>
                                <br>
                                {% for i in user %}
                                <tr>
                                    <td><img src="{% static 'dp.png' %}" alt="" class="profile-image rounded-circle">
                                    </td>
                                    <td><a href="{% url 'chat:roomselect' id=i.id %}" style="color:black; text-decoration: none;">{{i.get_full_name | capfirst}}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        // document.querySelector('#room-name-input').focus();
        // document.querySelector('#room-name-input').onkeyup = function(e) {
        //     if (e.keyCode === 13) {  // enter, return
        //         document.querySelector('#room-name-submit').click();
        //     }
        // };

        // document.querySelector('#room-name-submit').onclick = function(e) {
        //     var roomName = document.querySelector('#room-name-input').value;
        //     window.location.pathname = '/chat/' + roomName + '/';
        // };

    </script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script>
    function loadusers(mat_id)
	{
		var mat_id2='#'+mat_id;				
		var mat_type='';
		var getData = function (request, response) {
			$.getJSON(
				'get_users/' + request.term,
				function (data) {
					// console.log(data);
					response(data);
				});
		};
	 
		var selectItem = function (event, ui) {
			// console.log(ui);
			$(mat_id2).val(ui.item.label);				
			$('#user_val').val(ui.item.id);				
            
            action_src = "{% url 'chat:roomselect' id=0 %}".replace('0', $('#user_val').val());
            console.log(action_src)
            var your_form = document.getElementById('serach_form');
            your_form.action = action_src ;
			return false;
		}
	 
		$(mat_id2).autocomplete({
			source: getData,
			select: selectItem,
			minLength: 1,
			maxShowItems:5,
			scroll:true,
            				
		});
	}
</script>
{% endblock %}